{% load staticfiles %}
<html>
<head>
  <title>{% block title %}OverwatchApps{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>  <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
  <script src="{% static "jquery-2.1.4.js" %}"></script>
  <script src="{% static "bootstrap.min.js" %}"></script>
  <script src="{% static "comparison.js" %}"></script>
  {% block css %}
  {% endblock %}
</head>
<body>

{% block content %}
{% endblock %}
</body>
</html>
